body {
    background-color: #d63030;
    background-image: url(https://cdn.glitch.global/070a6f17-a218-49ba-a495-4b22a1f205d8/santa.jpeg?v=1683880047643);
    background-repeat: no-repeat;
    background-size: cover;
}
.helicopter {
    display: flex;
    justify-content: end;
}
.christmasBall {
    position: absolute;
    top: 0px;
    right: 0;
    overflow: hidden;
    animation: swing infinite 4s ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes swing {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(25px);
    }
}
.heading {
    display: flex;
    justify-content: center;
}
h1 {
    background-color: rgba(251, 248, 249, 0.9);
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #222025;
    padding: 20px;
    border: 3px solid #222025;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.christmas {
    border: 3px solid #222025;
    background-color: rgba(251, 248, 249, 0.82);
    margin-top: 50px;
    width: 200px;
    height: 300px;
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.days, .hours, .minutes, .seconds {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #222025;
}
.btnHoho {
    margin-left: 100px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.red {
    border: none;
    font-size: 60px;
    color: #a21734;
    font-family: 'Staatliches', cursive;
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 20px;
}
.playerContainer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 60%;
}
.progressBar {
    background-color: #222025;
    border: 0.2px solid #a21734 ;
    border-radius: 5px;
    width: 70%;
    height: 4px;
    cursor: pointer;
}
.progress {
    background-color: rgba(251, 248, 249, 0.82);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}
.song {
    display: flex;
    justify-content: center;
    width: 70%;
}
.songName {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 25px;
    color: #222025;
    margin: 0;
    text-align: center;
}
.btn {
    cursor: pointer;
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    outline: none;
}
.btns {
    display: flex;
    justify-content: center;
}
.prev {
    background-image: url(https://cdn.glitch.global/070a6f17-a218-49ba-a495-4b22a1f205d8/back.png?v=1698145279458);
    margin-left: 0;
}
.next {
    background-image: url(https://cdn.glitch.global/070a6f17-a218-49ba-a495-4b22a1f205d8/forward.png?v=1698145283568);
}

.play {
    background-image: url(https://cdn.glitch.global/070a6f17-a218-49ba-a495-4b22a1f205d8/play.png?v=1698145289765);
} 

.pause{
    background-image: url(https://cdn.glitch.global/070a6f17-a218-49ba-a495-4b22a1f205d8/pause.png?v=1698145286579);
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 10px;
}    
.myInfo {
  font-family: 'Mulish', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #13212f;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}
.myName {
  text-decoration: none;
  cursor: pointer;
  color:  #222025;
  font-weight: 500;
}

@media all and (max-width:820px) {
    body {
        background-position: center;
    }
    h1 {
        font-size: 40px;
        text-align: center;
    }
    .christmasBall {
        right: -40px;
    }
    .progressBar {
        width: 80%;
    }
    .playerContainer {
        width: 80%;
    }
}
@media all and (max-width:500px) {
    h1 {
        font-size: 30px;
    }
    .christmas {
        width: 150px;
        height: 180px;
    }
    .red {
        font-size: 40px;
    }
    .days, .hours, .minutes, .seconds {
        font-size: 25px;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 25px;
    }
    .btnHoho {
        margin-left: 10px;
    }
    .christmasBall {
        top: 50px;
        width: 200px;
    }
    .player {
        margin-top: 50px;
    } 
    .playerContainer {
        display: flex;
        flex-direction: column;
    }
    .song {
        width: 100%;
        margin-top: 15px;
    }
    .songName {
        font-size: 20px;
    }
    .btn {
        width: 25px;
        height: 25px;
    }
}
